* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { 
    background-color: #cfe8f5;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(65, 111, 163);
    color: #ffffff

    
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header ul {
    float: right;
    font-size: 23px;
}

header ul li {
    display: inline-block;
    margin-top: 15px;
    margin-right: 20px;
    color: #ffffff;
    list-style-type: none;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
   }

section img {
margin-left: 100px;
padding: 50px;

}
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 28px;
}

#box {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 30px;
    justify-content: center;
      }

.item {
    background: gray;
    width: 40%;
    height: 200px;
    border: 2px black solid;
    border-radius: 10px;
    box-shadow: 20px;
    text-align: center;
    font-size: 40px;
      }